In [ ]:
# print fonsiyon demek.
# type string = str =  # any textual characters
# type Integers = int =  # type is called int, they are whole numbers (positive, negative or zero), including no decimal point. For example: 71, -122, 0
# floats =  # type is called float and they stand for real numbers with a decimal point. For example: 71.0, -33.03
# complex =  # they are written in the form, x + yj , where x is the real part and y is the imaginary part.
# boolean = bool =  # False and True. 
# int() ‚Äì converts some data types into integer type.
# float() ‚Äì converts some data types into float type.
# str() ‚Äì converts any data type into string type.
# -= decrements the variable in place,s
# += increment the variable in place,
# *= multiply the variable in place,
# /= divide the variable in place,
# //= Ô¨Çoor divide the variable in place,
# %= returns the modulus of the variable in place,
# **= raise to power in place.
# \n : means new line,
# \t : means tab mark,
# \b : means backspace. It moves the cursor one character to the left
# \ kendinden sonraki i≈üelmi iptal ediyor. print('we', '\bare', '\bunited', sep= '  ') we are united. 
# their priorities:not, and, or : None.Zero of any numeric type: 0, 0.0, 0j
# Empty sequences and collections: '', [], {}
# Other than above values, any remaining value is evaluated as True.
# str.swapcase() converts upper case to lower case and vice versa.
# str.capitalize() changes the first character of the string to the upper case and the rest to the lower case.
# str.upper() converts all characters of the string to the upper case.
# str.lower() converts all characters of the string to the lower case.
# str.title() converts the first character of each word to upper case.
# str.split() converts all characters of the string to seperate character
# The formula syntax is : string.method()#str.strip() : removes all spaces (or specified characters) from both sides.
# str.rstrip() : removes spaces (or specified characters) from the right side.
# str.lstrip() : removes spaces (or specified characters) from the left side.
"""None.
	Zero of any numeric type: 0, 0.0, 0j
	Empty sequences and collections: '', [], {}.
	- Other than above values, any remaining value is evaluated as True.
	- print(*yazi) output y a z i ≈üeklinde birer bo≈üluk bƒ±rakƒ±r. """
# my_list.append('adil')  # listeye yeni bir eleman ekler.
# print(my_list.pop())  # listeye yeni eklenen elemanƒ± siler.
# city.remove('London') listeden eleman siler.
# city.sort()  # lists the items in alphabetical order
# Lists: Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!
# Tuples: In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.
""" ! Do not mix two quotes style in one string."""
# This is a single line comment
# print('the cosmos has no superiority to chaos')  # This is an inline comment

In [ ]:
"""  ‚ö†Ô∏èAvoid ! :

    More comments don't necessarily need to be better. If code is self-explanatory, comments are unnecessary.
    Do not make unnecessary comments. Usually, comments should answer the question why as opposed to what.
    When necessary, update your comment. Be sure that your comments will not be in contradiction to the code.

 """

In [1]:
print('being a good person')

being a good person

In [2]:
print('clarusway will change my life')

clarusway will change my life

In [3]:
print("Hello World!")

Hello World!

In [4]:
print("it's not a problem")

it's not a problem

In [5]:
print('We should have enough time for our family") # ! Do not mix two quotes style in one string.

SyntaxError: EOL while scanning string literal (<ipython-input-5-67ff08d8253d>, line 1)

In [6]:
print(572)
print(3.14)
print('3.14')
""" If you have noticed we used üëâüèª. not üëâüèª, for the decimal number: 3.14.
    Surrounding the expression with quotes makes it in string type. We will see immutable types (int, string, tuple, etc.) in the next lessons. """

572

In [7]:
print('no pain')
print('no gain')
print(3.14)

no pain
no gain
3.14

In [8]:
print('first line')
print()  # second line is empty
print('third line')

first line

third line

In [9]:
print ("It's my pleasure")

It's my pleasure

In [ ]:
""" Always surround these binary operators with a single space on either side: assignment (=), augmented assignment (+=, -=, etc.), comparisons (==, <, >, !=, <>, <=, >=, in, not in, is, is not), Booleans (and, or, not). """

In [10]:
list.append('utf8')  # adds a new element into a list

TypeError: descriptor 'append' requires a 'list' object but received a 'str'

In [11]:
def function(): # Don't be confused, we use 'def()' to create a function. 
                # You will see it in the next lessons.
    """
Hi, I am the docstring of this code. 
If you need any information about this function or module, read me. 
It can help you understand how the module or function works.
    """
print(function.__doc__)

Hi, I am the docstring of this code.
If you need any information about this function or module, read me.
It can help you understand how the module or function works.

In [12]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
""" ‚ö†Ô∏èAvoid ! :

    Do not use specific Python keywords (name of a function or phrase) as a name, like sum, max, min, in, or, for, etc.
"""

In [13]:
text1 = "I have learned strings" # surrounded with double quotes
print(text1)

I have learned strings

In [14]:
e_mail = 'joseph@clarusway.com' # surrounded with single quotes
print(e_mail)

joseph@clarusway.com

In [15]:
print('632') # this is also a string type

632

In [ ]:
""" Signed Integer type is called int, they are whole numbers (positive, negative or zero), including no decimal point. For example: 71, -122, 0

Floating point type is called float and they stand for real numbers with a decimal point. For example: 71.0, -33.03

Complex type is called complex and they are written in the form, x + yj , where x is the real part and y is the imaginary part. For example: 3.14j. """

In [ ]:
# üí°Tips:

#   71 and 71.0 have the same numerical value. But they differ in terms of numeric type. The types of these numbers are int and float respectively.

In [18]:
tv_open = True  # it seems TV is on now
print(tv_open)
is_rainy = False  # I love sunny weather
print(tv_open)

True
True

In [ ]:
*** Type Conversion
    str() converts to string type
    int() converts to signed integer type
    float() converts to floating point type
***

In [20]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [21]:
example2 = '71'
print(type(example2))

<class 'str'>

In [22]:
example3 = 71
print(type(example3))

<class 'int'>

In [13]:
x = 5
print ('value of x       : ', x)

x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n', 
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

z = 6
print ('value of z       : ', z)

z *= 2
print ("2 times z        : ", z, "\n")

value of x       :  5
2 more of x      :  7

value of y       :  10
2 minus y        :  8

value of z       :  6
2 times z        :  12

In [ ]:
# üí°Tips:
#   Variable math operator = number gives the same result as Variable = Variable math operator number.
#   Variable += number gives the same result as Variable = Variable + number. *///

In [ ]:
"""
    -= decrements the variable in place,
    += increment the variable in place,
    *= multiply the variable in place,
    /= divide the variable in place,
    //= Ô¨Çoor divide the variable in place,
    %= returns the modulus of the variable in place,
    **= raise to power in place.
"""

In [ ]:
 """üí°Tips:

    Remember. There is no difference between üëâüèª' ', üëâüèª" " or üëâüèª""" """.
"""

In [ ]:
""" Escape Sequences

Actually, the examples in the previous lesson show us how backslash üëâüèª\ works. üëâüèª\ is a special sign used in expressions called escape sequences, which behaves according to the character immediately after üëâüèª\. Here are basic escape sequences in Python:

    \n : means new line,

    \t : means tab mark,

    \b : means backspace. It moves the cursor one character to the left.
"""

In [14]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [15]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [16]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

weareunited

In [17]:
print('it\'s funny to learn Python')

it's funny to learn Python

In [ ]:
""" Booleans 
Operator	Description	Example
==	If the values of two operands are equal, then the condition becomes true.	(a == b) is not true.
!=	If values of two operands are not equal, then condition becomes true.	(a != b) is true.
>	If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.
<	If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true.
>=	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true.
<=	If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true. """

In [1]:
def function(): # Don't be confused, we use 'def()' to create a function. 
    """
Hi, I am the docstring of this code. 
If you need any information about this function or module, read me. 
It can help you understand how the module or function works.
    """
print(function.__doc__)

Hi, I am the docstring of this code.
If you need any information about this function or module, read me.
It can help you understand how the module or function works.

In [ ]:
""" üí°Tips:

    Note that we write the first letter of True in uppercase. This is the rule of Python that we must write like this : True, False. """

In [2]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [ ]:
""" Boolean Logic Expressions

Python has three built-in boolean operators: and, or and not. Except not, all are binary operators, which means two arguments are required.

    And operator : The and operator evaluates all expressions and returns the last expression if all expressions are evaluated True. Otherwise, it returns the Ô¨Årst value that evaluated False.

d

    Or operator : The or operator evaluates the expressions left to right and returns the Ô¨Årst value that evaluated True or the last value (if none is True)."""

In [ ]:
"""Order of Priority

It is important to remember that, logical operators have a different priority and it has an effect on the order of evaluation. Here are the operators in order of their priorities:

    not
    and
    or
"""

In [ ]:
""" üí°Tips:

    Note that and and or return one of its operands, not necessarily a bool type. But not always returns bool type.

"""

In [ ]:
The following values are considered False, in that they evaluate to False when applied to a boolean operator:

    None.
    Zero of any numeric type: 0, 0.0, 0j
    Empty sequences and collections: '', [], {}.
    Other than above values, any remaining value is evaluated as True.

In [19]:
print(2 and 3)

3

In [ ]:
print(1 and 0)

In [20]:
print(1 and "I am doing good!")

I am doing good!

In [21]:
print([] and "Hello World!")

[]

In [18]:
logic = True and False or not False or False
print(logic)

True

In [22]:
print(2 or 3)

2

In [23]:
print(None or 1)

1

In [24]:
print(0 or {})

{}

In [25]:
print([] or "Hello World!")

Hello World!

In [ ]:
f = 3.14  # the type is float
print(type(f))

In [23]:
f = 3.14  # the type is float

s = str(f)  # converting float to string
print(type(s))

<class 'str'>

In [10]:
f = 3.14 # the type is float
s = str(f) # converting float to string
print(s, '\n') # '\n' paragraf atlatƒ±yor.
print(type(s))

3.14

<class 'str'>

In [1]:
f = 3.14  # the type is float

i = int(f)  # while converting a float value to an integer its decimal part is disregarded
print(i, '\n')
print(type(i))

3

<class 'int'>

In [2]:
i = 3

f = float(i)
print(f, '\n')
print(type(f))

3.0

<class 'float'>

In [3]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [14]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"
print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [15]:
a = 36.5
b = '30'
c = '3.5'
d = ' F is enough for room temperature.'
print(str(a+int(b)+float(c))+d)

70.0 F is enough for room temperature.

In [4]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ')

blue, 100, winter

In [5]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

In [16]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ')

blue, 100, winter

In [ ]:
print(4 + 11) # sum of integers gives integer

print(39 + 1.0) # sum of an integer and float gives float

In [ ]:
"""  üí°Tips:

    We can assign a value to multiple variables. Consider this: variable1 = variable2 = 'clarusway opens your path'.
    We can also assign multiple values to multiple variables in sequence using commas as in example above.
"""

In [ ]:
no1 = 46
print(no1/23)  # division gives float

In [17]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep=', ')

5, 5, 5

In [6]:
print(4 + 11) # sum of integers gives integer
print(39 + 1.0) # sum of an integer and float gives float
no1, no2 = 46, 52
no3 = no1 - no2
print(no3)

15
40.0
-6

In [ ]:
print((3 * 4)/2)  # parentheses are used as in normal mathematics operations

In [7]:
internet

NameError: name 'internet' is not defined

In [19]:
no1 = 46
print(no1/23)  # division gives float

2.0

In [20]:
print((3 * 4)/2)  # parentheses are used as in normal mathematics operations

6.0

In [21]:
print(7 // 2)  # it gives integer part of division
# b√∂lme i≈üleminde saƒü tarafta kalan sonucu verir.

3

In [22]:
print(9 % 2)  # remainder of this division is 1
# it means 9 is an odd number.a
# b√∂lme i≈üleminde kalan sayƒ±yƒ± ifade eder.

1

In [23]:
print(3**2)
# 3 √ºzeri 2 demek o da 9 yapar.

9

In [24]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [30]:
print("yesterday I ate",2,"apples")

yesterday I ate 2 apples

In [ ]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

In [42]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

In [34]:
 print(type('hello'), type(3.14), type(74), sep='\n')

<class 'str'>
<class 'float'>
<class 'int'>

In [36]:
print('C:\\november\number_expenditure.txt')

C:\november\number_expenditure.txt

In [39]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [40]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

weareunited

In [44]:
print('we', '\bare', '\bunited', sep= '  ') # remember, normally print() function
# separates expressions by spaces

we are united

In [1]:
text1 = 'it'
text2 = 'easy'
print(text1 + '\'s very ' + text2)

it's very easy

In [1]:
# their priorities:not, and, or 
# None. Zero of any numeric type: 0, 0.0, 0j
# Empty sequences and collections: '', [], {}
# Other than above values, any remaining value is evaluated as True.
logic = True and False or not False or False
print(logic)

True

In [1]:
round(22/7, 3)

3.143

In [2]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [3]:
liste = [14,44,45,65,23,23,222,2,345,6654,776]
liste.sort()
print(liste)

[2, 14, 23, 23, 44, 45, 65, 222, 345, 776, 6654]

In [8]:
liste = [14,44,45,65,23,23,222,2,345,6654,776]
liste.sort(reverse=True)
print(liste)

[6654, 776, 345, 222, 65, 45, 44, 23, 23, 14, 2]

In [7]:
print(1 and "I am doing good!")
print(2 or 3)
print(None or 1)
print(0 or {})
print(1 or {})
print([] and "Hello World!")
print([] or "Hello World!")

I am doing good!
2
1
{}
1
[]
Hello World!

In [ ]:
# and (first False or last True)
# or (first True or last False)
# Priority (not, and, or)

In [8]:
print(horses * 2)

NameError: name 'horses' is not defined

In [ ]:
print(9 % 2)  # remainder of this division is 1
# it means 9 is an odd number

In [8]:

fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [ ]:
"""
The formula syntax of string indexing is : string[start:stop:step].

string[:] : returns the full copy of the sequence

string[start:] : returns elements from start to the end element

string[:stop] : returns element from the 1st element to stop-1

string[::step] : returns each element with a given step
"""

In [9]:

city = 'Phoenix'


print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [26]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [ ]:
    parentheses : ()
    power : **
    unary minus : -3
    multiplication and division : *, /
    addition and subtraction : +, -

In [ ]:
String Formatting with Arithmetic Syntax

There are several ways in Python that we use when processing and using string data structures. The most important of these are:

    Arithmetic syntax (+, *, and =),

    % operator formatting,

    string.format() method,

    f-string formatting.

In [ ]:
print("yesterday I ate", 2, "apples")  # When using print() we can write more than one expression in parentheses separated by üëâüèª,

In [27]:
print('clarus' + 'way')

clarusway

In [10]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [ ]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [11]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

i will say 'i missed you' to my mother

In [ ]:
# If you noticed, in the example above we have combined all expressions with space in a single line using the üëâüèªend= If we didn't use end=' ', we would normally get 4 lines of output.

In [12]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

In [10]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [11]:
str = 'Python Language'
print(str[4:])

on Language

In [24]:
print('clarus' + 'way')
print(3*'no way!', 3*'no way!')

clarusway
no way!no way!no way! no way!no way!no way!

In [25]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [26]:
fruit = 'orange'
fruit += ' apple'

print(fruit)

orange apple

In [28]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

In [29]:
fruit1 = 'Apple'
fruit2 = 'Orange'
print(2*fruit1+' '+3*fruit2)

AppleApple OrangeOrangeOrange

In [30]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence) # we get first 11 characters of the string

apologizing

In [1]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase) 
#In the '%s' syntax : s stands for 'string'.
#In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
#In the '%d' syntax : d stands for 'numeric'.

I have 4 children and 5.00 brothers

In [31]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})
#In this example, we used two variables which are amount and fruit. If you noticed, we assign values to variables in curly braces '{}'. This format is a dictionary type that you will learn in the next lessons.

33 pounds of bananas left

In [1]:
x = "HelloWorld!"
print('%.5s' % x)

Hello

In [33]:
#Time is useful module in python can be used to calculate the execution time.

import time
start = time.clock()
for x in range(1000):
    pass
end = time.clock()
total = end - start
print(total)

0.0004109919991606148

In [34]:
#2'den ba≈üla 100'e kadar 4'er 4'er say...
my_list = list(range(2, 100, 4))
print(my_list)

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98]

In [35]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit,amount))

The amount of Orange we bought is 4 pounds

In [41]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [1]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [2]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [3]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [4]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [5]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [6]:
result = f"{4 * 5}"

print(result)

20

In [ ]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

In [29]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. " 
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [8]:
#If you want to use multiple f-string formatting lines without parentheses, you will have the other option that you can use backslash \ between lines.name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [30]:
first_name = 'Kenan'
last_name = 'Deniz'
output = 'Hello, ' + first_name+ ' ' + last_name
print(output)
print('output') # when we use quotion marks its write only output.

Hello, Kenan Deniz
output

In [31]:
first_name = 'Kenan'
last_name = 'Deniz'
output ='Hello, {} {}'.format(first_name, last_name)
print(output)

Hello, Kenan Deniz

In [32]:
first_name = 'Kenan'
last_name = 'Deniz'
output ='Hello, {0} {1}'.format(first_name, last_name)
print(output)

Hello, Kenan Deniz

In [33]:
first_name = 'Kenan'
last_name = 'Deniz'
output =f'Hello, {first_name} {last_name}'
print(output)

Hello, Kenan Deniz

In [15]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [16]:
text = 'www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [17]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [8]:
phrase = "myemailaddress@clarusway.com"
print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith("-", 15, 24))

28
True
False

In [11]:
"ahmet".startswith(("a", "h", "m"), 2)

True

In [14]:
"ay√ßi√ßeƒüi".endswith(("i", "ƒü"))

True

In [15]:
"a-h-m-e-t".replace("-", "", 2) # 2 ssayƒ±sƒ± ka√ß tane deƒüi≈üim yapƒ±lacaƒüƒ± bilgisini verir. Rakam girmezsek hepsini siler.

'ahm-e-t'

In [ ]:


    The formula syntax is : string.method()

Let's examine some common and the most important methods of string changing :

    str.replace(old, new[, count]) replaces all occurrences of old with the new.

The count argument is optional, and if the optional argument count is given, only the first count occurrences are replaced. count: Maximum number of occurrences to replace. -1 (the default value) means replace all occurrences.

    str.swapcase() converts upper case to lower case and vice versa.

    str.capitalize() changes the first character of the string to the upper case and the rest to the lower case.

    str.upper() converts all characters of the string to the upper case.

    str.lower() converts all characters of the string to the lower case.

    str.title() converts the first character of each word to upper case.

In [13]:
sentence = "I live and work in Virginia"

print(sentence.upper())  

print(sentence.lower())

print(sentence.swapcase())

print(sentence)  # note that, source text is unchanged

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [20]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title() 
print(title_sentence)  

changed_sentence = sentence.replace("i", "+")
print(changed_sentence)  

print(sentence)  
# note that, again source text is unchanged

I Live And Work In Virginia
I l+ve and work +n V+rg+n+a
I live and work in Virginia

In [21]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())  # changes 'i' to uppercase and
# the rest to lowercase

i LIVE AND WORK IN vIRGINIA
I live and work in virginia

In [22]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

listen first

In [23]:
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides

nteroperabilit

In [24]:
space_string = "     listen first      "
print(space_string.rstrip())  # removes all spaces from right sides

listen first

In [25]:
source_string = "interoperability"
print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side

teroperability

In [35]:
isim = "Kenan"
soyisim = "Deniz"
print("Merhaba sayƒ±n {} {}, sitemize hos geldiniz".format(isim, soyisim))

Merhaba sayƒ±n Kenan Deniz, sitemize hos geldiniz

In [7]:
isim = "Kenan"
soyisim = "Deniz"
print("Merhaba sayƒ±n %s %s, sitemize hos geldiniz" %(isim, soyisim))

Merhaba sayƒ±n adil basaran, sitemize hos geldiniz

In [1]:
a = 4
b = 'ali'
c = True
print(a, b, c,sep="+")

4+ali+True

In [6]:
a = 4
b = 'ali'
c = True
print(b, end="")
print(b)

aliali

In [10]:
a = 4
b = 'ali'
c = True
print(*b)

a l i

In [36]:
yazi = "WHO"
print(*yazi,sep=".")

W.H.O

In [13]:
divmod(12, 4)#bolme ve kalma cƒ±kartƒ±yor

(3, 0)

In [22]:
a = enumerate("python")
list(a) #super

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [32]:
a = 'python'
for eleman in enumerate(a):
    print(eleman)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [37]:
print(False and {0} or [])

[]

In [38]:
word = 'clarusway'
n = 3
front = "cla"
back = "usway"
print(front + back)

clausway

In [39]:
text = "{}! I am a {} programmer and I {} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

In [33]:
help()    # √∂zellikle yeni oython shell acƒ±p help() yazdƒ±ƒüƒ±nda her kod ile bilgi alƒ±nabilinir.

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [38]:
isim = input("isim girin:")
print(isim)
print(type(isim))

asd
<class 'str'>

In [43]:
isim = input("isim girin:")
yas = input("ya≈üƒ±nƒ±zƒ± girin:")

if int(yas) < 18:
    print("giremezsiniz")
else:
    print("ho≈ügeldin")

giremezsiniz

In [46]:
ord("1") #ASII code numarasƒ±nƒ± g√∂steriyor.

49

In [47]:
pow(2,3) #x**y

8

In [48]:
dosya = open("ornek.txt", "w")
print("jack", file = dosya)
dosya.close() #yan tarafta ornek isimli dosya olu≈üturdu.

In [52]:
print(*range(4))

0 1 2 3

In [53]:
print(*range(40, 2, -2))

40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4

In [56]:
aralƒ±k = range(100)
for sayi in aralƒ±k:
    print(sayi, end= " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [2]:
x = 5
print('value of x     : ', x)
x += 2
print('2 more of x    : ', x, "\n")
y = 10
print('value of y     : ', y)
y -= 2 
print("2 minus y      : ", y, "\n") 
z = 6
print('value of z     : ',z)
z *=2
print("2 times z      : ", z, "\n")

value of x     :  5
2 more of x    :  7

value of y     :  10
2 minus y      :  8

value of z     :  6
2 times z      :  12

In [9]:
print('c:\\north pole\noise_penguins.txt')
print("--------")
print('first', 'second', 'third', sep='\t')

c:\north pole
oise_penguins.txt
--------
first	second	third

In [13]:
print('we are', '\boosting', 'our', '\brotherhood')
print('it\'s essential to learn Python\'s libraries in TT World')

we areoosting ourrotherhood
it's essential to learn Python's libraries in TT World!

In [51]:
text = "Clarusway,"
text1 = "       "
text2 = "Clarusway"
print(text, text, text, sep=" ")
print(text1, text, text, text, sep=" ")
print(text1, text1, text, text, text2, sep=" ")

Clarusway, Clarusway, Clarusway,
        Clarusway, Clarusway, Clarusway,
                Clarusway, Clarusway, Clarusway

In [57]:
text = "Clarusway, Clarusway, Clarusway,\n\tClarusway, Clarusway, Clarusway, \n\t\tClarusway, Clarusway, Clarusway"
print(text)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [58]:
print(1 and 0)
print(not 0)

0
True

In [69]:
"" or "ken" or "istanbul" or 0

'adil'

In [70]:
"" and "ken" or "istanbul" or 0

'istanbul'

In [72]:
print(None or 1)

1

In [74]:
logic = True and not [] or 'False' or {'True'} #not operat√∂r√ºn yanƒ±na ne gelirse tesine cevirir. '' bu gelirse True yapar.
print(logic)

True

In [77]:
print(2 and 3)
print(1 and 0)

3
0

In [78]:
print(2 and "hello world")
print([] and "be happy" )
print(None and ())

hello world
[]
None

In [81]:
print(None or 3)
print(2 or 3)

3
2

In [86]:
print(2 or "hello")
print([] or "happy")
print(None or ())
print({} or 0)
print({0} or False)
print ({} and 0)

2
happy
()
0
{0}
{}

In [87]:
print(2 and "hello")
print([] and "happy")
print(None and ())
print(2 or "hello")
print([] or "happy")
print(None or ())

hello
[]
None
2
happy
()

In [ ]:
Cryptocurrency_balance = 1000 # $
daily_profit = 7 # %
print("Beginning Cryptocurrency Balance :", Cryptocurrency_balance, "$", "\n") 
for a in range(1,8):
    Cryptocurrency_balance += Cryptocurrency_balance * daily_profit/100
    print(a, "day: You have",  round(Cryptocurrency_balance, 3), "$", "end of the day.")
print()
print("Total balance : You have", round(Cryptocurrency_balance, 3), "$", "end of the week.")

In [8]:
str_one = 'upper'
str_one += 3 * 'case'
str_one += 'letter'
print(* str_one)

u p p e r c a s e c a s e c a s e l e t t e r

In [1]:
sentence = "I live and work in Virginia"
sentence = sentence.upper()
print(sentence.split()) 
print(sentence)

['I', 'LIVE', 'AND', 'WORK', 'IN', 'VIRGINIA']
I LIVE AND WORK IN VIRGINIA

In [4]:
sentence = "I live and work in Virginia"
print(sentence.split('i'))

['I l', 've and work ', 'n V', 'rg', 'n', 'a']

In [1]:
print("My names {} and ...".format('Kenan Deniz'))

My names Kenan Deniz and ...

In [8]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [9]:
print('The {q} {f} {b}'.format(f = 'fox', b = 'brown', q= 'quick'))

The quick fox brown

In [20]:
result = 100/700
print("The result was {r:1.3f}".format(r = result))

The result was 0.143

In [2]:
name = 'kenan'
print('Hello, his name is {}'.format(name))
print(f'Hello, his name is {name}')

Hello, his name is kenan
Hello, his name is kenan

In [27]:
name = 'kenan'
age = 38
print(f'{name} is {age} years old.') #f ba≈üƒ±na yada sonuna bir≈üey gelmiyor.

adil is 38 years old.

In [28]:
print('{p}'.format(p = 'Python rules!'))

Python rules!

In [42]:
my_list = ['string', 300, 12.33]
#print(len(my_list))
my_list[1] = 'all for one'
#print(my_list) 
my_list.append('adil') # listeye yeni bir eleman ekler.
print(my_list)
print(my_list.pop()) #listeye yeni eklenen elemanƒ± siler.
print(my_list)

['string', 'all for one', 12.33, 'adil']
adil
['string', 'all for one', 12.33]

In [46]:
new_list = ['a', 'o', 'u', 't', 'w', 'e', 'k', 'f']
num_list = [4, 5, 6, 3, 2, 33, 444, 5565, 76, 88]
new_list.sort()
num_list.sort()
print(new_list)
print(num_list)
num_list.reverse()
print(num_list)

['a', 'e', 'f', 'k', 'o', 't', 'u', 'w']
[2, 3, 4, 5, 6, 33, 76, 88, 444, 5565]
[5565, 444, 88, 76, 33, 6, 5, 4, 3, 2]

In [48]:
my_dict = {'key1' : 'value1', 'key2': 'value2'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [75]:
prices_lookup = {'apple' : 2.99, 'oranges' : 1.99, 'milk' : 5.80}
#print(prices_lookup['apple'])
#prices_lookup ['elma'] = 3.99
#print(prices_lookup)
#prices_lookup['apple'] = 10.99
print(prices_lookup)
print(prices_lookup.keys())
print(prices_lookup.values())
print(prices_lookup.items())

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.8}
dict_keys(['apple', 'oranges', 'milk'])
dict_values([2.99, 1.99, 5.8])
dict_items([('apple', 2.99), ('oranges', 1.99), ('milk', 5.8)])

In [77]:
dict = {'apple' : 5, 'orange' : 10}
print(dict)

{'apple': 5, 'orange': 10}

In [87]:
for sayi in range(10):
    print(sayi)

SyntaxError: invalid syntax (<ipython-input-87-3c8a8a16d0a8>, line 1)

In [89]:
for sayi in range(-10, 10, 2):
    print(sayi)

-10
-8
-6
-4
-2
0
2
4
6
8

In [1]:
def fonksiyon(**kwargs):
    print(kwargs)
    for i in kwargs:
        print(i)
fonksiyon(a = 0, b = 5, c = 10)

{'a': 0, 'b': 5, 'c': 10}
a
b
c

In [101]:
def fonksiyon(*args):
    print(args)
    for i in args:
        print(i + 5)
fonksiyon(0, 5, 10, 15)

(0, 5, 10, 15)
5
10
15
20

In [1]:
t = (1, 2, 3)
type(t)

tuple

In [4]:
t = ('a', 'a', 'b') # Tuple da () kullanƒ±lƒ±r. Listelerde [] bu.
t.count('a')
# 'a' ka√ß defa ge√ßtiƒüini s√∂yl√ºyor.
t.index('a')
# 'a' nƒ±n ka√ßƒ±ncƒ± sƒ±rada olduƒüunu s√∂yl√ºyor.

0

In [9]:
my_list = [1, 2, 3]
my_list[0] = 'NEW' # Listedeki 0'cƒ± elemanƒ± deƒüi≈ütirir.
print(my_list)

['NEW', 2, 3]

In [15]:
# Sets are unordered collections of unique elements. Meaning there can only be one represntative of the same object.
myset = set()
myset.add(1)
myset.add(2)
print(myset)
# bir set elemenetinin i√ßerisinde benzer karakterler var ise o karaktari sadece bir defa g√∂sterir.

{1, 2}

In [16]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [34]:
print(not(None or 0))

True

In [29]:
print('{0}{1}{2}{3}{4}'.format('I ', 'will ', 'find ', 'a ','job.'))

I will find a job.

In [31]:
print(str.title("python data types and useful operations"))

Python Data Types And Useful Operations

In [35]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [36]:
1 > 2

False

In [46]:
%%writefile aa.jpynb # Yeni bir dosya olu≈üturuyor.
hello this is a text file
aa.readlines

UsageError: unrecognized arguments: # Yeni bir dosya olu≈üturuyor.

In [45]:
aa = open('aa.ipynb')
aa.read()

''

In [48]:
x = open('test.txt', 'w') # sol taraftaki menude yeni bir test adƒ±nda bir txt dosyasƒ± olusturmamƒ±zƒ± saglƒ±yor.
x.write('Hello World')
x.close()

In [49]:
#Dictionaries
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [51]:
#Dictionaries: Can you sort a dictionary? Why or why not? Answer: No! Because normal dictionaries are mappings not a sequence.
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [2]:
hungry = False
if hungry:
    print('Feed me!')
else:
    print('Im not hungry')

Im not hungry

In [9]:
loc = 'Store'
if loc =='Auto shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print("I do not know much.")

Welcome to the store!

In [18]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in my_list:
    print('num')
    print(num)

num
1
num
2
num
3
num
4
num
5
num
6
num
7
num
8
num
9
num
10

In [21]:
# √ñzelikle tab ge√ßi≈ülerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number{num}')

odd number1
2
odd number3
4
odd number5
6
odd number7
8
odd number9
10

In [26]:
# √ñzelikle tab ge√ßi≈ülerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0
for num in my_list:
     list_sum = list_sum + num
print(list_sum)

55

In [29]:
# √ñzelikle tab ge√ßi≈ülerini unutma!!!
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0
for num in my_list:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [35]:
mystring = 'Hello World'

for letter in mystring:
    print('letter')
    print(letter)

letter
H
letter
e
letter
l
letter
l
letter
o
letter

letter
W
letter
o
letter
r
letter
l
letter
d

In [40]:
my_list = [(1, 2), (3,4), (5,6), (7,8)]
len(my_list)
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [41]:
my_list = [(1, 2), (3,4), (5,6), (7,8)]
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [43]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1   # x += 1 de kullanƒ±labilinir.
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [6]:
x = [1, 2, 3]

for item in x:
    # pass yazarsak for d√∂ng√ºs√ºn√º iptal eder.
    # break 
    pass
print('ex =nd of my script')

end of my script

In [11]:
my_string = 'sammy'
for letter in my_string:
    if letter == 'a':
        break # a harfine gelince d√∂ng√ºy√º durdurur.
    print(letter)

s

In [12]:
my_string = 'sammy'
for letter in my_string:
    if letter == 'a':
        continue # a harfini d√∂ng√ºden kaldƒ±rƒ±r.
    print(letter)

s
m
m
y

In [15]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [3]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [5]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [7]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

1
2
3
4

In [13]:
word = 'abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [19]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for item in zip(mylist1, mylist2, mylist3):
    print(item)
min(mylist1)
max(mylist1)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

6

In [16]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [22]:
from random import shuffle 
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)
print(mylist)

[5, 3, 2, 8, 6, 1, 7, 9, 4]

In [23]:
from random import randint
randint(0,100) #rasgele sayƒ± secme

90

In [30]:
#int(input ('enter number: '))
result = input ('enter number: ')
print(float(result))

22.0

In [34]:
mystring = 'Hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [4]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
mylist = [num for num in range(0,11) if num%2==0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [6]:
celsius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp +32) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [7]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
print(results)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [8]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
print(mylist)

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
if

In [20]:
x = int(input('enter number'))

if x%2 == 0:
    print('x', 'Girilen deƒüer √ßift sayƒ±dƒ±r.')
else:
    print(x, 'tek sayƒ±dƒ±r.')

3 bir tek sayƒ±dƒ±r.

In [ ]:
x = int(input('enter number'))

if x % 2 == 0:
    print(x, 'Girilen deƒüer √ßift sayƒ±dƒ±r.')
else:
    print(x, 'tek sayƒ±dƒ±r.')

In [21]:
def tek_mi_√ßift_mi(*args):
    print(args)
    for i in args:
        if i % 2 == 0:
            print(i, "sayƒ±sƒ± √ßiftir")
        else:
            print(i, "sayƒ±sƒ± tektir")

tek_mi_√ßift_mi(10, 123, 1, 23, 56, 156)

(10, 123, 1, 23, 56, 156)
10 sayƒ±sƒ± √ßiftir
123 sayƒ±sƒ± tektir
1 sayƒ±sƒ± tektir
23 sayƒ±sƒ± tektir
56 sayƒ±sƒ± √ßiftir
156 sayƒ±sƒ± √ßiftir

In [23]:
def √ßƒ±karma(sayƒ±1, sayƒ±2):
    sonu√ß = sayƒ±1 - sayƒ±2
    return sonu√ß

a = √ßƒ±karma(10, 5)
print(a)

5

In [35]:
def parametreler(sayƒ±1, sayƒ±2, sayƒ±3, sayƒ±4):
    return  [sayƒ±2, sayƒ±4]
result = parametreler('3', '4', sayƒ±3 = '7', sayƒ±4 = '8')
print(result)
print(result[0], result[1])

['4', '8']
4 8

In [1]:
print(not 0 and "write me")

write me

In [2]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [3]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]

print(mixed_list)
print(mixed_list[0], mixed_list[1], mixed_list[2], mixed_list[3], mixed_list[4])

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]
11 Joseph False 3.14 None

In [4]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [ ]:
empty_list_1= []

empty_list_2 = list()

In [ ]:
empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea')
print(empty_list_1)

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')
print(city)

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

In [2]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

blue

In [6]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)
# city_list includes only one element which is the city list. # Tips: If you notice that city_list has double square brackets.

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [14]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) # access to first and only element
#'city_list[0]' is a list type data. So that, we can still access its elements via indexing.

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [13]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [7]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

a

In [8]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(odd_numbers[6])

27

In [3]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [42]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [ ]:
['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [12]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list)
print(fruit_list[0][2][7])

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]
l

In [4]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included) 
# "slicing" sequence[start:stop:step]

[5, 7, 9]

In [15]:
count = list(range(11)) # range(start, stop[, step])
print(count)

print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [7]:
odd_numbers = list(range(0, 11))
print(odd_numbers)
print(odd_numbers[1:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [10]:
odd_numbers = list(range(1, 11))
print(odd_numbers)
print(odd_numbers[::2])
print(odd_numbers[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
""" 
        my_list[:]: returns the full copy of the sequence

        my_list[start:] : returns elements from start to the end element

        my_list[:stop] : returns element from the 1st element to stop-1

        my_list[::step] : returns each element with a given step

"""

In [1]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [2]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[3:]) # slices the animals starts at index=3 to the end

['wolf', 'rabbit', 'deer', 'giraffe']

In [3]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:5]) # slices the animals starts at index=0 to the index=4

['elephant', 'bear', 'fox', 'wolf', 'rabbit']

In [4]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[::2]) # slices animals starts at index=0 to the end with 2 step.

['elephant', 'fox', 'rabbit', 'giraffe']

In [16]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [17]:
print(len([[12, 34, 56]]))

1

In [18]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4]) # the last element of a list as list_name[-1]

In [5]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:]) # return in reverse order

['lobster', 'squid', 'octopus']

In [6]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [7]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [8]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [ ]:
""" üí°Tips :

    If you choose negative step with the start and end indexes together, those should be used accordingly, that is, the end index should be less than the start index.
"""

In [19]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [39]:
st = 'Sam Print only the words that start with s in this sentence'

for word in st.split():
    if word[0] == 's' or word[0] == 'S':
        print(word)

Sam
start
s
sentence

In [24]:
#Use range() to print all the even numbers from 0 to 10.
list(range(0,11,2))
# or 
for num in range(0,11,2)

[0, 2, 4, 6, 8, 10]

In [31]:
#Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [43]:
#Go through the string below and if the length of a word is even print "even!"
st = 'Go through the string below and if the length of a word is even print'
for word in st.split():
    if len(word) % 2 == 0:
        print(word)

Go
string
if
length
of
word
is
even

In [46]:
# Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

SyntaxError: unexpected EOF while parsing (<ipython-input-46-07b9a911582b>, line 11)

In [36]:
#Use a List Comprehension to create a list of the first letters of every word in the string below:

st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [41]:
word="Go through the string below and if the length of a word is even print "
A=[]
for n_word in word.split():
    if len(n_word)%2==0:
        A.append(n_word)
print(" ".join(A))

Go string if length of word is even

In [47]:
print(["FizzBuzz"*(not i%15) or "Fizz"*(not i%3) or "Buzz"*(not i%5) or i for i in range(1,101)])

SyntaxError: unexpected EOF while parsing (<ipython-input-47-a43596cf3613>, line 1)

In [49]:
mylist = [1, 2, 3]
mylist.append(4) #mylist.pop() son ekleneni siler.
print(mylist)

[1, 2, 3, 4]

In [50]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [60]:
phrase = '{morality} {1} {0} {condition}'.format('in all', 'wins', condition = 'circumstances', morality = 'generosity')

In [1]:
sample = f"{2 ** 3}"
print(sample)

8

In [16]:
text = 'S0d0me and G0m0re'
new_text = text.replace("0", "o")
print(new_text)

Sodome and Gomore

In [2]:
name = "MARIAM"
output = f'My name is {name.capitalize()}'
print(output)

My name is Mariam

In [3]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
output = f'{name} is a {age} {gender} and she is a student at the {school}.'
print(output)

Susan is a young lady and she is a student at the CLRWY IT university.

In [6]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
output = (
f'{name} is a {age} '
f'{gender} and she is a student ' 
f'at the {school}.'
)
print(output)

Susan is a young lady and she is a student at the CLRWY IT university.

In [74]:
word = 'clarusway'

front = word.rstrip("rusway")
back = word.lstrip("clar")
print(front + "a" + back)

clausway

In [70]:
word = 'clarusway'

front = word.rstrip("rusway")
back = word.lstrip("clar")
print(front + "a" + back)

claruswa

In [38]:
text = "{0}! I am a {1} programmer and I {2} Clarusway.".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway.

In [76]:
print({0} and False or [])

[]

In [77]:
float("140" * int(input("Enter a number:" )))

140140.0

In [79]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [83]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"

text = f'The less you {var1} and {var2}, the {var3} your {var4} will be.'
print(text)

The less you sleep and eat, the better your life will be.

In [88]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"

text = 'The less you {} and {}, the {} your {} will be.'.format("sleep", "eat", "better", "life")
print(text)

The less you sleep and eat, the better your life will be.

In [97]:
city = "SARAJEVO"
text = f'I live in {city.capitalize()}.'
print(text)

I live in Sarajevo.

In [98]:
word = 'clarusway'
n = 3
front = word[:n]
back = word[4:]
print(front + back)

clausway

In [4]:
deger = input('deger gir: ')
if deger == "abc":
    print('girilen deger: ', deger)
if deger != 'abc':
    print('kullanƒ±cƒ± abc girmemi≈ütir.')

abc

In [ ]:
sayƒ±1 = int(input("Sayƒ±1 girilsin"))
sayƒ±2 = int(input("Sayƒ±2 girilsin"))

if sayƒ±1 > sayƒ±2:
    print("{} {}'den b√ºy√ºkt√ºr ".format(sayƒ±1, sayƒ±2))
elif sayƒ±1 < sayƒ±2:
    print("{1} {0}'den b√ºy√ºkt√ºr ".format(sayƒ±1, sayƒ±2))
else:
    print("{} {}'e e≈üittir ".format(sayƒ±1, sayƒ±2))

In [ ]:
while True:
    isim =  input('isim gir')
    if isim == 'q':
        print('G√ºle g√ºle')
        break
    else:
        print('merhaba sahip')

In [1]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [2]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [3]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [4]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [5]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [7]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [1]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

blue

In [8]:
empty_tuple = () #  tuple is immutable
# methods like append() or remove() do not exist in the operations of this type.

In [9]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [10]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [11]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [12]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [13]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [14]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [15]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [16]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [17]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [18]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

0
2
4

IndexError: tuple index out of range

In [19]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [20]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: 'tuple' object does not support item assignment

In [21]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
count = list(range(1, 11))
count.sort(reverse=True)

print(count)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon","spinach", "cheese", "leek"], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [50]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = ("My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1]))

print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [6]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [8]:
""" Homework:

    Examine the use of .index() and .count() methods of the tuples. """

' Homework:\n\n    Examine the use of .index() and .count() methods of the tuples. '

In [7]:
source_string = "interoperability"
print(source_string.lstrip("tni")) # yazƒ±lanlarƒ±n kombinasyonu alƒ±r ve t√ºm hepsini sorgular ve siler.

eroperability

In [24]:
a = "aaaxyxyxyxyxy"
print(a.rstrip("xy"))

aaa

In [11]:
text = "tyou can learn almost everthing in pre-classz"
text = text.strip("tz").upper() 
print(text)

YOU CAN LEARN ALMOST EVERTHING IN PRE-CLASS

In [23]:
text = "In God wee Trust"
text1 = "In God wee\b Trust"
text2 = text[:9]
text3 = text[10:]
print(text.replace("wee", "We"))
print(text1)
print(text2 + text3)

In God We Trust
In God we Trust
In God we Trust

In [30]:
print("istanbul")
print("istanbul" * 2, sep=" ")

istanbul
istanbulistanbul

In [33]:
print(* "istanbul", sep=",")

i,s,t,a,n,b,u,l

In [34]:
print(* "istanbul" * 2)

i s t a n b u l i s t a n b u l

In [35]:
print(* "istanbul"[0])

i

In [39]:
sehir = "istanbul"
print(sehir)

istanbul

In [40]:
sehir += "izmir"
print(sehir)

istanbulizmir

In [41]:
sehir
print(sehir)

istanbulizmir

In [42]:
print(type(input("enter a number: ")))

<class 'str'>

In [7]:
a = 3
b = 4
# summary = a + b
print("{} + {}'nin toplamƒ± {}'dƒ±r.".format(a, b, a + b))

3 + 4'nin toplamƒ± 7'dƒ±r.

In [9]:
text = "{:.2f},{:.2f},{:.3f}".format(3.14, 5.367, 7.5674)
print(text)

3.14,5.37,7.567

In [12]:
text = "{:.2s},{:.2s},{:.3s}".format("3.14", "5.367", "istanbul")
print(text)

3.,5.,ist

In [20]:
test = 1000
text1 = "Maa≈üƒ±nƒ±z {:>30} TL dir.".format(test)
text1

'Maa≈üƒ±nƒ±z                           1000 TL dir.'

In [18]:
test = 1000
text2 = "Maa≈üƒ±nƒ±z {:<30} TL dir.".format(test)
text2

'Maa≈üƒ±nƒ±z 1000                           TL dir.'

In [22]:
test = 1000
text3 = "Maa≈üƒ±nƒ±z {:^30} TL dir.".format(test)
text3

'Maa≈üƒ±nƒ±z              1000              TL dir.'

In [35]:
year = int(
    input("Artƒ±k yƒ±l olup olmadƒ±ƒüƒ±nƒ± bulmak i√ßin bir yƒ±l giriniz (√ñrneƒüin 1980): "))

if year % 4 == 0 and year % 100 != 100 or year % 400 == 0:
    print("artƒ±k")
else:
    print("deƒüil")

deƒüil

In [47]:
year = int(input("Artƒ±k yƒ±l olup olmadƒ±ƒüƒ±nƒ± bulmak i√ßin bir yƒ±l giriniz (√ñrneƒüin 1980): "))

if year % 4 == 0 and year % 100 != 100 or year % 400 == 0:
    print(f"{year} yƒ±lƒ± artƒ±k yƒ±ldƒ±r.")
else:
    print(f"{year} yƒ±lƒ± artƒ±k yƒ±l deƒüildir.")

2000 yƒ±lƒ± artƒ±k yƒ±ldƒ±r.

In [45]:
year = int(input("Artƒ±k yƒ±l olup olmadƒ±ƒüƒ±nƒ± bulmak i√ßin bir yƒ±l giriniz (√ñrneƒüin 1980): "))
leap_year = (year % 4 == 0 and year % 100 != 100 or year % 400 == 0)

print(f"{year} yƒ±lƒ± artƒ±k yƒ±ldƒ±r." * leap_year)
print(f"{year} yƒ±lƒ± artƒ±k yƒ±l deƒüildir." * (not leap_year))

1984 yƒ±lƒ± artƒ±k yƒ±ldƒ±r.

In [9]:
aa = [1, 3, 5, 7, 9]
aa

[1, 3, 5, 7, 9]

In [11]:
aa[2] = 25
aa

[1, 3, 25, 7, 9]

In [12]:
aa[2:] = "Clarusway"
aa

[1, 3, 'C', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [13]:
string_1 =  "I quit smoking"

new_list =

SyntaxError: invalid syntax (<ipython-input-13-5dddf5c3db84>, line 3)

In [17]:
list_1 = list("2020's hard") # elemanlarƒ±na ayƒ±rƒ±r.
list_2 = ["2020's hard"]     # [] tek eleman olarak kabul eder.
print(list_1)
print(list_2)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]

In [18]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [19]:
numbers = [1, 4, 7]
numbers.insert(2, 9)
print(numbers)
numbers.insert(2, 6)
print(numbers)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]

In [23]:
list_1 = [1, 2, 3, 4]
list_1.insert(4, 5)
#list_1.insert(, 5)
print(list_1)

[1, 2, 3, 4, 5]

In [25]:
numbers = [1, 4, 7, 9]
numbers.remove(7)
print(numbers)

[1, 4, 9]

In [26]:
numbers = ["1", "4", "7", "9"]
numbers.remove("7")
print(numbers)

['1', '4', '9']

In [28]:
numbers = [4, 1, 9, 5]
numbers.sort()
print(numbers)

[1, 4, 5, 9]

In [29]:
numbers = [4, 1, 9, 5]
numbers.sort()
print(numbers)

True [1, 4, 5, 9]

In [34]:
numbers = [4, 1, 9, 5]
numbers.sort(reverse = True)
print(numbers)

[9, 5, 4, 1]

In [35]:
list_1 = ["one", "four", "nine"]
list_2 = ["*-", "@", "False"]
list_3 = [True, False]
list_4 = [[3], [44, 0], [-12]]
list_5 = [[1, 3], [44, 0], [-12, 1]]
list_1.sort()
list_2.sort()
list_3.sort()
list_4.sort()
list_5.sort()

print(list_1)
print(list_2)
print(list_3)
print(list_4)
print(list_5)

['four', 'nine', 'one']
['*-', '@', 'False']
[False, True]
[[-12], [3], [44, 0]]
[[-12, 1], [1, 3], [44, 0]]

In [ ]:
sort()  # (shift + tab) * 2 detaylƒ± bilgi metod hakkƒ±nda.

In [1]:
word = ["h", "a", "p", "p", "y"]
print(word[1])

a

In [1]:
empty_dict_1 = {} # dictionary

empty_dict_2 = dict()

In [2]:
empty_dict_1 = {}

print(type(empty_dict_1))

<class 'dict'>

In [4]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }
print(my_dict)
# basic dictionary

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [5]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [6]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [7]:
mix_dict = {'animal': ('dog', 'cat'),  # tuple type
            'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
            'number': 40,  # int type
            'pi': 3.14,  # float type
            'is_good': True}  # bool type

In [8]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [9]:
""" There are several methods that allow us to access items, keys, and values. You can access all items using the .items() method, all keys using the .keys() method, and all values using the .values() method: """

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [10]:
# add new items using the .update() method
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [11]:
""" remove an item using the del function:

    The formula syntax is : del dictionary_name['key']. """

dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']
# birden fazla eleman silme.
# del (dict_by_dict[1], dict_by_dict[3], dict_by_dict[5]) 
print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [13]:
""" Using the "in" and the "not in"" operator, you can check if the key is in the dictionary.

        When we use the "in" operator; if "the key is in the dictionary", the result will be "True" otherwise False.

        When we use the "not in"; if the "key is not in the dictionary", the result will be "True" otherwise False.

 """

dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [19]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36}
print(student_ages["Clark"])

32

In [2]:
names = ["Chistopher", "Susan"]
scores = []
scores.append(98) # Add new item to the end
scores.append(99)
print(names)
print(scores)
print(scores[1])  # collections are zero-indexed

['Chistopher', 'Susan']
[98, 99]
99

In [3]:
from array import array
scores = array("d")
scores.append(97)
scores.append(98)
print(scores)
print(scores[1])

array('d', [97.0, 98.0])
98.0

In [ ]:
# What's the diferrence?

# Arrays: numerical daya types must all be the same type

# Lists: store anything store any type

In [5]:
names = ["Susan", "Chistopher"]
print(len(names))  # Get the number of items
names.insert(0, "Bill")  # Insert before index
print(names)
names.sort()
print(names)
print(len(names))

2
['Bill', 'Susan', 'Chistopher']
['Bill', 'Chistopher', 'Susan']
3

In [6]:
# Retreving ranges
names = ["Susan", "Chistopher", "Bill", "Justin"]
presenters = names[1:3]  # start and end index

print(names)
print(presenters)

['Susan', 'Chistopher', 'Bill', 'Justin']
['Chistopher', 'Bill']

In [18]:
# dictionaries
person = {"first": "Chistopher"}
person["last"] = "Harrison"
print(person)
print(person["first"], person["last"])

{'first': 'Chistopher', 'last': 'Harrison'}
Chistopher Harrison

In [19]:
kenan = {}
kenan["first"] = "Kenan"
kenan["last"] = "Deniz"

deniz= {}
deniz["first"] = ""
deniz["last"] = "Deniz"

people = []
people.append(kenan)
people.append(deniz)
people.append({
"first": "Bill", "last": "Gates"
})

print(people)

[{'first': 'Kenan', 'last': 'Deniz'}, {'first': '', 'last': 'Deniz'}, {'first': 'Bill', 'last': 'Gates'}]

In [20]:
# the nested dict
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [81]:
# We can use square brackets to access internal dicts :

school_records = {
    "personal_info":
        {"kid": {"tom": {"class": "intermediate", "age": 10},
                 "sue": {"class": "elementary", "age": 8}
                 },
         "teen": {"joseph": {"class": "college", "age": 19},
                  "marry": {"class": "high school", "age": 16}
                  },
         },
    "grades_info": {"kid": {"tom": {"math": 88, "speech": 69},
                            "sue": {"math": 90, "speech": 81}
                            },
                    "teen": {"joseph": {"coding": 80, "math": 89},
                             "marry": {"coding": 70, "math": 96}
                             },
                    },
}

print(school_records['personal_info']['teen']['marry']['age'])
print(list(school_records["grades_info"]["teen"]["joseph"].items()))
print(school_records["grades_info"]["teen"]["joseph"])

16
[('coding', 80), ('math', 89)]
{'coding': 80, 'math': 89}

In [ ]:
""" 
 üí°Tips:

    Dictionaries strongly resemble JSON syntax. The native json module in the Python standard library can be used to convert between JSON and dictionaries.
"""

In [ ]:
"""
 ‚úèÔ∏èHomework:

    What is 'JSON' and what is it used for?
"""

In [24]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}

print(customers["insurance"][5]["age"])

22

In [ ]:
"""
Creating a Set

Curly braces '{}' or the set() function can be used to create sets. But the only way to create an empty set is: use the set() function.
"""

In [27]:
"""  
‚ö†Ô∏èAvoid ! :

    Note that, to create an empty set you have to use set() function. Do not use {} to create an empty set. Otherwise, you will create an empty dictionary. 
 """

empty_set = set()  # create a simple empty set

In [28]:
empty_set = set()

print(type(empty_set))

<class 'set'>

In [31]:
#  sets have unordered and unique objects

colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

{'red', 'orange', 'yellow', 'purple', 'darkblue'}
{'red', 'orange', 'yellow', 'purple', 'darkblue'}

In [33]:
s = set('unselfishness')

print(s)
print(s)

{'u', 'n', 's', 'i', 'e', 'l', 'f', 'h'}
{'u', 'n', 's', 'i', 'e', 'l', 'f', 'h'}

In [34]:
""" the letters of the string type data are only written once in the set. Within this scope, using sets can help you avoid repetitions. Let's convert a list into a set and look at the repetitions of its elements: """


flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'violet', 'rose', 'orchid', 'carnation'}
['violet', 'rose', 'orchid', 'carnation']

In [ ]:
""" ‚úèÔ∏èHomework:

    {'carnation', 'orchid', 'rose', 'violet'} üëàüëâ {'rose', 'orchid', 'rose', 'violet', 'carnation'} Do these two sets give the same output and why? (Note: Try to figure out the answer before run on the Playground)"""

In [ ]:
""" Main Operations with Sets

    .add() : Adds a new item to the set.

    .remove() : Allows us to delete an item.

    .intersection() : Returns the intersection of two sets.

    .union() : Returns the unification of two sets.

    .difference() : Gets the difference of two sets
"""

In [37]:
a = set('abracadabra')

print(a)

{'d', 'a', 'b', 'c', 'r'}

In [38]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'d', 'r', 'b'}
{'d', 'r', 'b'}

In [41]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

{'d', 'z', 'a', 'b', 'l', 'c', 'r', 'm'}
{'d', 'z', 'a', 'b', 'l', 'c', 'r', 'm'}

In [40]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

{'a', 'c'}
{'a', 'c'}

In [42]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

{'d', 'a', 'b', 'r'}

In [43]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

{'d', 'a', 'b', 'c', 'r'}

In [1]:
print(len(set('listen to the voice of enlisted')))

13

In [1]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [2]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1, 20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [4]:
payroll = float(input("Please input your payroll: "))

print("Your payroll is $%.2f" % (payroll))

Your payroll is $1000.00

In [3]:
payroll = float(input("L√ºtfen Maa≈üƒ±nƒ±zƒ± Giriniz: "))
print(f"Bu aya ait maa≈üƒ±nƒ±z : ${payroll:.2f}")

Bu aya ait maa≈üƒ±nƒ±z : $1000.00

In [2]:
sales = {
    "cost_value": 31.87,
    "sell_value": 45.00,
    "inventory": 1000
}

total_profit = (sales["sell_value"] - sales["cost_value"]) * sales["inventory"]

print("Total Profit = ", round(total_profit), "\b$")

Total Profit =  13130$

In [6]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [7]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [8]:
#     Remember to always use a comma when defining a singleton tuple.
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [9]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [10]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [11]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [12]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [13]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [14]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [15]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

0
2
4

IndexError: tuple index out of range

In [17]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [18]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: 'tuple' object does not support item assignment

In [20]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
count = list(range(1, 11))
count.sort(reverse=True)

print(count)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek"], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [23]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = ("My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1]))

print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [24]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])
print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [26]:
empty_dict_1 = {}

empty_dict_2 = dict()

In [27]:
empty_dict_1 = {}

print(type(empty_dict_1))

<class 'dict'>

In [28]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }

In [29]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [30]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [31]:
# Note that values can be of different types.
mix_dict = {'animal': ('dog', 'cat'),  # tuple type
            'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
            'number': 40,  # int type
            'pi': 3.14,  # float type
            'is_good': True}  # bool type

In [32]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [33]:
#  ‚ö†Ô∏èAvoid ! :

#    Do not use quotes for keys when using the dict() function to create a dictionary.

In [34]:
""" 
Q: What is a dictionary in Python?
A: Python dictionary is one of the supported data types in Python. It is an unordered collection of elements. The elements in dictionaries are stored as key‚Äìvalue pairs. Dictionaries are indexed by keys. For example, below we have a dict named my_dict. It contains two keys, fruit and vegatable, along with their corresponding values, banana and onion.

my_dict = {'fruit':'banana', 'vegatable':'onion'}
"""

" \nQ: What is a dictionary in Python?\nA: Python dictionary is one of the supported data types in Python. It is an unordered collection of elements. The elements in dictionaries are stored as key‚Äìvalue pairs. Dictionaries are indexed by keys. For example, below we have a dict named my_dict. It contains two keys, fruit and vegatable, along with their corresponding values, banana and onion.\n\nmy_dict = {'fruit':'banana', 'vegatable':'onion'}\n"

In [36]:
# access all items using the .items() method, all keys using the .keys() method, and all values using the .values() method:

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [37]:
# add new items using the .update() method
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [38]:
# The formula syntax is : del dictionary_name['key'].
ict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal']

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [39]:
"""
Using the in and the not in operator, you can check if the key is in the dictionary.

        When we use the in operator; if the key is in the dictionary, the result will be True otherwise False.

        When we use the not in; if the key is not in the dictionary, the result will be True otherwise False.


"""

'\nUsing the in and the not in operator, you can check if the key is in the dictionary.\n\n        When we use the in operator; if the key is in the dictionary, the result will be True otherwise False.\n\n        When we use the not in; if the key is not in the dictionary, the result will be True otherwise False.\n\n\n'

In [40]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [41]:
# nested dictionaries
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [42]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

16

In [44]:
"""
 ‚úèÔ∏èHomework:

    What is 'JSON' and what is it used for?

"""

"\n ‚úèÔ∏èHomework:\n\n    What is 'JSON' and what is it used for?\n\n"

In [51]:
# number = range(1, 11)
a = tuple(range(1, 11))
print(a, type(a), sep="\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [53]:
mix_tuple = ("11", 11, [2, "two", ("six, 6")], (5, "fair"))
print(mix_tuple[2][2][0]

SyntaxError: unexpected EOF while parsing (<ipython-input-53-2ce0b0a46580>, line 2)

In [56]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
print(mix_tuple[-1])

(5, 'fair')

In [60]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
option_1 = mix_tuple[3][1]
option_2 = mix_tuple[-1][1]

print(option_1)
print(option_2)

fair
fair

In [68]:
family = {  "name1":"Kenan",                    "name2":"Ay≈üeg√ºl",                  "name3": "Kerem"
        }
print(family, type(family), sep="\n")
family["name4"] = "Neva"
print(family, type(family), sep="\n")

{'name1': 'Kenan', 'name2': 'Ay≈üeg√ºl', 'name3': 'Kerem'}
<class 'dict'>
{'name1': 'Kenan', 'name2': 'Ay≈üeg√ºl', 'name3': 'Kerem', 'name4': 'Neva'}
<class 'dict'>

In [67]:
family = dict(name1 = "Kenan",                    name2 = "Ay≈üeg√ºl",                  name3 = "Kerem")
print(family, type(family), sep="\n")

{'name1': 'Kenan', 'name2': 'Ay≈üeg√ºl', 'name3': 'Kerem'}
<class 'dict'>

In [75]:
family = {1 : "Kenan",                    2 : "Ay≈üeg√ºl",                  3 : "Kerem"}
print(family, type(family), sep="\n")

{1: 'Kenan', 2: 'Ay≈üeg√ºl', 3: 'Kerem'}
<class 'dict'>

In [76]:
list(family.items)

TypeError: 'builtin_function_or_method' object is not iterable

In [11]:
sentence = input("Please write your sentences: ")

left_hand = ("q", "a", "z", "w", "s", "x", "e", "d",
             "c", "r", "f", "v", "t", "g", "b")
right_hand = ("y", "h", "n", "u", "j", "m", "ƒ±", "k",
              "√∂", "o", "l", "√ß", "p", "≈ü", "ƒü", "i", "√º")

a = set(sentence.lower())
b = set(right_hand)
c = set(left_hand)

comfort_words = (bool((a & b) and (a & c)))
print("This sentences is comfort words." * (comfort_words))
print("This sentences is not comfort words." * (not comfort_words))

This sentences is not comfort words.

In [30]:

# Python program to find the 
# frequency of largest element 
  
import collections 
  
#  L = [1, 2, 8, 5, 8, 7, 8] 

# find the largest element 
# largest = max(L) 
  
# Storing the occurrences of each 
# element of list in res 
# res = collections.Counter(L) 
  
# print(res[largest])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [16]:

a = [1, 3, 7, 4, 3, 0, 3, 6, 3]
print(a.count(a[]))

0

In [24]:
a = []
b = [True, []]
# c = ()
d = list()
e = [123]
# f = list(123)
# g = list['123']
# h = list[123]

print("a", type(a))
print("b", type(b))
print("c", type(c))
print("d", type(d))
print("e", type(e))
# print(type(f))
# print(type(g))
# print(type(h))

a <class 'list'>
b <class 'list'>
c <class 'tuple'>
d <class 'list'>
e <class 'list'>

In [27]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
family_members_tup = tuple(family_members)
print(type(family_members_tup))

<class 'tuple'>

In [3]:
# A≈üaƒüƒ±da kullanƒ±cƒ±dan sayƒ±larƒ± istiyoruz split ile virg√ºlden
#b√∂l√ºyoruz. Sonu√ß otomatik olarak liste tipinde geldiƒüi i√ßin
# listeye √ßevirmeye gerek kalmƒ±yor.
#numbers = (input("L√ºtfen sayƒ±larƒ± arasƒ±na virg√ºl koyarak giriniz :")).split(",")

numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

# print(numbers, type(numbers))
most_frequent = max(numbers, key=numbers.count)
repeat_times = numbers.count(most_frequent)
print(f"The most frequent number is {most_frequent} and it was \
{repeat_times} times repeated.")
print("The most frequent number is " + str(most_frequent) + " and it was " \
+ str(repeat_times) + " times repeated.")

The most frequent number is 3 and it was 4 times repeated.
The most frequent number is 3 and it was 4 times repeated.

In [ ]:
if condition:
    body  # the body code should start at indentation (four spaces)

In [32]:
if True:
    print('it is true')

it is true

In [33]:
empty_seat = 14

if empty_seat > 3:  # in this case, 14>3=True, so the body will execute
    print('there is still seat to sit')

there is still seat to sit

In [ ]:
 üí°Tips :

    Note that the condition ends with a colon and a new line starts with an indentation.

In [34]:
x = 6
y = 9
print ("is x equal to y?                 :" , x == y)
print ("is x not equal to y?             :" , x != y)
print ("is x less than y?                :" , x < y)
print ("is x greater than y?             :" , x > y)
print ("is x less than or equal to y?    :" , x <= y)
print ("is x greater than or equal to y? :" , x >= y)

is x equal to y?                 : False
is x not equal to y?             : True
is x less than y?                : True
is x greater than y?             : False
is x less than or equal to y?    : True
is x greater than or equal to y? : False

In [35]:
course = 'clarusway'

if course == "clarusway":
    print("you guaranteed the job")
else:
    print("think about it again")

you guaranteed the job

In [ ]:
if condition1:
    execute body1

elif condition2:
    execute body2

else:
    execute body3

In [36]:
weight = 80

if weight > 100:
    print("That's too heavy!")
elif weight > 75:
    print("I can lift that!")
else:
    print("That's too light!")

I can lift that!

In [37]:
audience = "baby"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

In [39]:
number = 8

if number >= 10:
    print("The number is equal or greater than 10")
else:
    print("The number is less than 10")

The number is less than 10

In [40]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [41]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

Your degree: A

In [ ]:
# indentation 4 space need executed code.
if province in("Alberta", "Nunavut", "Yukon"):
    tax = 0.05
elif province == "Ontario" or province == "xxx":
    tax = 0.13
else:
    tax = 0.15

In [ ]:
if country == "Canada":
    if province in ("Alberta", "Nunavut", "Yukon"):
        tax = 0.05
    elif province = "Ontario":
        tax = 0.13
    else:
        tax = 0.15
else:
    tax = 0.0

In [ ]:
if gpa >= .85:
    if lowest_grade >= .70:
        print("Well done")

In [ ]:
if gpa >= .85 and lowest_grade >= .70:
    print("Well done")

In [ ]:
if gpa >= .85 and lowest_grade >= .70:
    honour_roll = True
else:
    honour_roll = False
# somewhere later in your code
if honour_roll:
    print("Well done")

In [5]:
letter = "q a z w s x e d c r f v t g b y h n u j m ƒ± k √∂ o l √ß p ≈ü ƒü i √º".split()
print(set(letter))

{'r', '≈ü', 'i', 'h', 'z', 'c', 'd', '√∂', 'y', 'o', 'x', 'm', 's', 'f', 'p', 'a', 'ƒü', 'e', 'b', '√º', 'l', 'q', 'v', 'k', 'n', 'j', 'g', 'w', 'ƒ±', 't', 'u', '√ß'}

In [7]:
a = {"carnation", "orchid", "rose", "violet"}
b = {"carnation", "orchid", "rose", "violet", "rose", "violet"}
print(a)
print(b)

{'carnation', 'orchid', 'rose', 'violet'}
{'carnation', 'orchid', 'rose', 'violet'}

In [9]:
a = set("philadelphia")
b = set("dolphin")
print(a)
print(b)

{'i', 'h', 'l', 'p', 'd', 'a', 'e'}
{'i', 'h', 'p', 'l', 'd', 'n', 'o'}

In [ ]:
"""
.add()           adding
.remove()        remove
.intersection()  kesi≈üim
.union()         birle≈üim
.difference()    fark
"""

In [10]:
# difference
print(a - b)
print(a.difference(b))

{'e', 'a'}
{'e', 'a'}

In [11]:
#difference
print(b - a)
print(b.difference(a))

{'n', 'o'}
{'n', 'o'}

In [12]:
# union (|) aynƒ± zamanda or olarak da kullanƒ±lƒ±r.
print(a | b)
print(a.union(b))

{'i', 'h', 'l', 'p', 'd', 'a', 'n', 'o', 'e'}
{'i', 'h', 'l', 'p', 'd', 'a', 'n', 'o', 'e'}

In [13]:
# intersection (&) aynƒ± zamanda and olarak da kullanƒ±lƒ±r.
print(a & b)
print(a.intersection(b))

{'i', 'h', 'l', 'p', 'd'}
{'i', 'h', 'l', 'p', 'd'}

In [14]:
date = set("07/04/2020")
date1 = {"07/04/2020"}
print(date)
print(date1)

{'0', '/', '7', '2', '4'}
{'07/04/2020'}

In [16]:
given_list = [1, 2, 3, 3, 3, 4, 4, 5, 5]
list1 = set(given_list)
print(list1)

{1, 2, 3, 4, 5}

In [19]:
a = set("Washington")
b = set("Wellington")
print(a & b)  # 
print(a | b)  # 
print(a - b)  #

{'i', 'g', 'n', 't', 'o', 'W'}
{'i', 'h', 'l', 'g', 'a', 'n', 't', 'o', 'e', 'W', 's'}
{'a', 'h', 's'}

In [22]:
# ingredients and requirements:
minced_meat = True
hamburger_bread = True
lettuce = False
pepper = True
grocery_store = True


hamburger = minced_meat and hamburger_bread and (lettuce or pepper) and grocery_store

if hamburger :
    print("Bon Appetit")

Bon Appetit

In [23]:
1.0 == 1

True

In [25]:
1 == "1"

False

In [26]:
a = set("asap")
b = set("pasa")

a == b

True

In [30]:
a = set("TWELVE PLUS ONE")
b = set("ELEVEN PLUS TWO")
print(a)
print(b)
if a == b:
    print("We are the same!")

{'T', 'V', 'S', 'E', 'P', 'U', 'N', 'O', 'W', ' ', 'L'}
{'T', 'V', 'S', 'E', 'P', 'U', 'N', 'O', 'W', ' ', 'L'}
We are the same!

In [31]:
q = Yes = True
q2 = No = False

if q :
    print("You entered True." * q)
    print("You entered False." * (not q))

You entered True.

In [33]:
convert = input("Enter Yes or No: ").title().strip() == "Yes"
print("You entered", convert)

You entered False

In [34]:
number = int(input("Bir sayƒ± giriniz: "))

if number % 2 == 0:
    print(number, "is Even.")
else:
    print(number, "is Odd.")

5 is Odd.

In [35]:
num = float(input("Enter a number: "))
if num > 0 :
    print("Positive number")
else:
    print("Negative number")

Positive number

In [39]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if num1 > num2 :
    print("The large number is", num1)
else:
    print("The large number is", num2)

The large number is 5.0

In [40]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if num1 > num2 :
    larger = num1
else:
    larger = num2

print("The large number is", larger)

The large number is 8.0

In [42]:
bool_value = False

if bool_value :
    print("Yes")
else :
    print("No")

No

In [44]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if num1 > num2 and num1 > num3 :
    print("The largest number is", num1)
elif num2 > num1 and num2 > num3 :
    print("The largest number is", num2)
else:
    print("The largest number is", num3)

The largest number is 9.0

In [45]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if num1 > num2 and num1 > num3 :
    largest = num1
elif num2 > num1 and num2 > num3 :
    largest = num2
else:
    largest = num3

print("The largest number is", largest)

The largest number is 9.0

In [48]:
a = float(input("Please enter a number"))
b = float(input("Please enter a number"))
c = float(input("Please enter a number"))
if (a>b>c) :
    largest = a
elif (b>a>c):
    largest = b
elif (c>b>a):
    largest = c
    print("The largest number is: ",largest)

The largest number is:  9.0

In [1]:
num = float(input("Enter a number: "))

if num > 0 :
    print(num, "is positive number.")
elif num < 0:
    print(num, "is negative number.")
else :
    print(num, "is equal to zero.")

Enter a number: 5
5.0 is positive number.

k